.text-center {
	text-align: center;
}

.text-inherit {
	color: inherit;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}


.text-small {
	font-size: 0.8em;
}


.text-large {
	font-size: 1.3em;
}

.text-xlarge {
	font-size: 1.5em;
}

