/vendor/
node_modules
/bundle.js
all.css
npm-debug.log
/style.css
/style.css.map
release.zip
vanilla.zip
*.zip
dist
server/wordpress
.env.json
theme-unit-test-data.xml
server/salt.php
/backstop_data/bitmaps_test/*
!/backstop_data/bitmaps_test/.keep
/backstop_data/html_report
backstop_data/ci_report
/.env
