
@mixin fa() {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

@mixin dashicons() {
	display: inline-block;
	font: normal normal normal 14px/1 dashicons;
	text-decoration: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	transition: color .1s ease-in 0s;
	-webkit-font-smoothing: antialiased;
}