// Media Queries
$screen-small-min?= 600px;
$screen-medium-min?= 782px;
$screen-large-min?= 1000px;

$screen-small-max?= $screen-medium-min - 1px;
$screen-medium-max?= $screen-large-min - 1px;

$screen?= "only screen";
$small-up?= $screen + " and (min-width:" + $screen-small-min + ")";
$small-only?= $screen + " and (min-width:" + $screen-small-min + ") and (max-width:" + $screen-small-max + ")";

$medium-up?= $screen + " and (min-width:" + $screen-medium-min + ")";
$medium-only?= $screen + " and (min-width:" + $screen-medium-min + ") and (max-width:" + $screen-medium-max + ")";

$large-up?= $screen + " and (min-width:" + $screen-large-min + ")";
$large-only?= $screen + " and (min-width:" + $screen-large-min + ")";



small-up() {
	@media $small-up {
	{block}
}
}

medium-up() {
	@media $medium-up {
	{block}
}
}

large-up() {
	@media $large-up {
	{block}
}
}
