$app-layout-use-escape: true;

.app-layout {
	background-color: inherit;
	&__header {
		background-color: inherit;
		-webkit-overflow-scrolling: touch;
		position: fixed;
		left: 0;
		top: 0;

		.app-layout--disable & {
			position: relative;
		}

		.admin-bar & {
			padding-top: 46px;
			position: absolute;

			&--fixed {
				padding-top: 0px;
				position: fixed;
			}

			@media #{$small-up} {
				position: fixed;
				padding-top: 46px;
			}
			@media #{$medium-up} {
				position: fixed;
				padding-top: 32px;
			}
		}
		z-index: 2;
		pointer-events: visible;
		overflow: hidden;
		a,
		button {
			pointer-events: auto;
		}

		width: 100%;
		box-shadow: 0 2px 2px 0 rgba(#888, .14), 0 3px 1px -2px rgba(#888, .2), 0 1px 5px 0 rgba(#888, .12);
		transition-delay: 0ms;
		transition-duration: .28s;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1);
		transition-property: transform, height, box-shadow;
	}

	&__content {
		box-sizing: border-box;
	}

	& &__header {

		@if $app-layout-use-escape {
			&--escape {
				transform: translateY(-100%);
			}
		}

	}

}
