// Bands

.band {
	background-size: cover;
	background-position: center;
	&--highlight {
		color: $box-color-highlight;
		background-color: $box-color-highlight-background;
	}

	&--cloudy {
		color: $box-color-cloudy;
		background-color: $box-color-cloudy-background;
	}


	&--tint {
		color: $box-color-tint;
		background-color: $box-color-tint-background;
	}

	&--dark {
		color: $box-color-dark;
		background-color: $box-color-dark-background;
	}

}