$container-max-width: 1200px !default;

.container {
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 $container-gutter;
	max-width: $container-max-width;

	//overflow: hidden;

	@include gutter( padding-left );
	@include gutter( padding-right );

}