$drawer-size: 280px !default;
.drawer {

	//overlay
	&::before {

		content: "";
		display: none;
		position: fixed;

		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
	}
	//content.
	&__body {
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
		position: fixed;
		background-color: #fff;
		z-index: 100;
		top: 0;
		right: 0;
		overflow-y: auto;
		width: $drawer-size;
		height: 100vh;
		box-sizing: border-box;

		transform: translate(100%, 0);
		transition: transform 0.2s ease-out 0s;

		// for WordPress
		.admin-bar & {
			padding-top: 46px;
			@media #{$medium-up} {
				position: fixed;
				padding-top: 32px;
			}
		}
	}

	&[aria-expanded="true"] &__body {
		transform: translate(0, 0);
	}

	&[aria-expanded="true"]::before {
		display: block;
	}

}
//fixme
body.is-drawer-open {
	overflow: hidden;
}