.btn {
	display: inline-block;
	padding: 8px 20px;
	margin: 1em 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	border-radius: 2px;
	border: 3px solid transparent;
	font-weight: bold;

	&:hover {
		text-decoration: none;
	}

	&--default {
		color: #FFF;
		background-color: #000;

		&:hover {
			color: #FFF;
			background-color: lighten( #000, 8% );
		}
	}

	&--ghost {
		color: #FFF;
		border-color: #FFF;


		&:hover {
			color: #000;
			text-shadow: none;
			background-color: #FFF;
		}
	}

	&--block {
		display: block;
	}

}
