.media {
	display: flex;

	&--middle {
		align-items: center;
	}

	&__figure {
		margin-right: $gutter;
		min-width: 40%;

		.media--reverse & {
			margin-right: 0;
			margin-left: $gutter;
			order: 1;
		}

		> * {
			display: block;
		}
	}

	&__body {
		flex-grow: 1;

		> .media {
			margin-top: $gutter;
		}
	}

	&__title {
		margin-top: 0;
		margin-bottom: 0.5em;
		padding-top: 0;
		font-weight:bold;
		font-size: 2rem;
		text-align: left;
	}
}