// Form
//
// Styleguide 1.6

select {
	line-height: inherit;
	box-sizing: border-box;
	padding: 6px 12px;
	color: #555;
	background-image: none;
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select {
	height: 30px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="datetime"],
input[type="image"],
input[type="password"],
input[type="submit"],
input[type="button"],
button,
textarea {
	box-sizing: border-box;
	padding: 4px 16px;
	font-size: 1em;
	line-height: 1.8;
	background-color: inherit;
	border: 1px solid #aaa;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="datetime"],
input[type="image"],
input[type="password"],
textarea {
	background-color: #fff;
	background-image: none;


	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea {
	height: auto;
}

input[type="submit"],
input[type="button"],
button {
	text-align: center;
	white-space: nowrap;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;

	font-weight: bold;

}
