// Heading
//
// Markup:
// <h1>h1</h1>
// <h2>h2</h2>
// <h3>h3</h3>
// <h4>h4</h4>
// <h5>h5</h5>
// <h6>h6</h6>
//
// Styleguide 1.2

h1 {
	font-size: 2em;
	margin: 0.5em 0;
}

h2 {
	clear: both;
	box-sizing: border-box;
	font-size: 1.7em;
	margin: 1em 0;
	border-top: 1px solid rgba(0, 0, 0, .5);
	padding-top: 1em;

}

h3 {
	font-weight: bold;
	font-size: 1.38em;
	border-top: 1px solid rgba(0, 0, 0, .4);
	padding-top: 1em;

}

h4 {
	font-weight: bold;
	font-size: 1.15em;
	border-top: 1px solid rgba(0, 0, 0, .3);
	padding-top: 1.33em;
}

h5 {
	font-weight: bold;
	font-size: 1em;
}

h6 {
	font-weight: normal;
	font-size: 1em;
}
