// Heading
//
// Markup:
// <h1>h1</h1>
// <h2>h2</h2>
// <h3>h3</h3>
// <h4>h4</h4>
// <h5>h5</h5>
// <h6>h6</h6>
//
// Styleguide 1.2

h1 {
	font-size: 1.67em;
	margin: 0.5em 0;
}

h2 {
	clear: both;
	box-sizing: border-box;
	margin: 2em 0 1em;
	font-weight: normal;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(0, 0, 0, .1);

}

h3 {
	margin: 2em 0 1em;
	font-weight: bold;
	font-size: 1.38em;
	border-bottom: 1px solid currentColor;

}

h4 {
	font-weight: bold;
	margin: 2em 0 1em;
	font-size: 1.15em;
}

h5 {
	font-weight: bold;
	margin: 2em 0 1em;
	font-size: 1em;
}

h6 {

	font-weight: normal;
	margin: 2em 0 1em;
	font-size: 1em;
}
