// Heading
//
// Markup:
// <h1>h1</h1>
// <h2>h2</h2>
// <h3>h3</h3>
// <h4>h4</h4>
// <h5>h5</h5>
// <h6>h6</h6>
//
// Styleguide 1.2

h1 {
	font-weight: 600;
	font-size: 2em;
	margin: 0.5em 0;
}

h2 {
	font-weight: 600;
	clear: both;
	box-sizing: border-box;
	font-size: 1.7em;
	margin: 1em 0;


	&::before {
		content '';
		border-top: 1px solid currentColor;
		opacity: 0.1;
		display: block;
		padding-bottom: 1em;
	}

}

h3 {
	font-weight: 600;
	font-size: 1.38em;

	&::before {
		content '';
		border-top: 1px solid currentColor;
		opacity: 0.06;
		display: block;
		padding-bottom: 1em;
	}


}

h4 {
	font-weight: 600;
	font-size: 1.15em;
	//border-top: 1px solid rgba(0, 0, 0, .3);
	//padding-top: 1.33em;
}

h5 {
	font-weight: 600;
	font-size: 1em;
}

h6 {
	font-weight: normal;
	font-size: 1em;
	margin: 1.67em 0;
}
