
// List
//
// Markup:
// <ul>
//   <li>Element</li>
//   <li>Element</li>
//   <li>Element</li>
// </ul>
//
// <ol>
//   <li>Element</li>
//   <li>Element</li>
//   <li>Element</li>
// </ol>
//
// Styleguide 1.4

ol,
ul {
	padding-left: 1.5em;
}

dd {
	margin-left: 1.5em;
}

