@charset "UTF-8";

html {
	font-size: percentage(10/16);
	min-height: 100%;
}

body {
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	margin: 0;

	//overflow-x: hidden;
	font-size: 1.6em;
	color: #333;
	background-color: #fff;
	line-height: 1.8;
	overflow-wrap: break-word;
	word-wrap: break-word;
	//letter-spacing: .05rem;
	//text-align: justify;
	-webkit-font-smoothing: subpixel-antialiased;
}

strong {
	font-weight: bold;
}

p {
	margin: 1em 0;
}

pre {
	overflow: scroll;
	background: #EEE;
	margin: 1.2em 0;
	padding: 1em;
	line-height: 1.5
}