html {
	font-size: percentage(10 / 16);
	min-height: 100%;
}

body {
	margin: 0;
	font-family: 'Avenir', -apple-system, BlinkMacSystemFont, 'YuGothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Noto Sans', 'Noto Sans CJK JP', 'Yu Gothic', meiryo, sans-serif;
	font-size: 1.4em;
	+medium-up() {
		font-size: 1.6em;
	}

	color: #000;
	background-color: #fff;
	line-height: 1.75;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-font-smoothing: subpixel-antialiased;
}

strong {
	font-weight: bold;
}

p {
	margin: 1em 0;
}

pre {
	overflow: scroll;
	background: #EEE;
	margin: 1.2em 0;
	padding: 1em;
	line-height: 1.5;
}

code,kbd {
	background: #EEE;
	padding: 0.2em 0.4em;
}

blockquote {
	margin: 1em 0;
	padding 0 2em;
	border-left: 1px solid currentColor;

	cite {
		display: block;
		text-align: right;
	}
}
