//Typography
$line-height = 1.8;
$color-black = #212121;
$base-font = 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

// Gutter
$gutter = 16px;
$gutter-small = 16px;
$gutter-medium = 32px;
$gutter-large = 32px;
// Color

// Media Queries
$screen-small-min = 600px;
$screen-medium-min = 782px;
$screen-large-min = 1000px;


// Boxes
$container-max-width = 1000px;
$container-gutter = $gutter;
$container-gutter-medium = 32px;

// Grid
$grid-gutter = $gutter;
