.pagination {

	margin: 3em 0;
	text-align: center;

	a {
		background-image: none;
	}

	.page-numbers {
		display: inline-block;
	}

	.dots,
	.prev,
	.next,
	.pagination__numbers {
		border: none;
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		display: inline-block;
		font-weight: bold;
		color: inherit;
	}

	.prev,
	.next {
		background: none;
		margin: 0 1em;
		display: inline-block;
	}

	&__arrow {
		background: url("assets/images/arrow.svg") center center no-repeat;
		background-origin: content-box;
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;

		&_prev {
			transform: rotateZ(-90deg);
		}

		&_next {
			transform: rotateZ(90deg);
		}
	}
}

.pagination {
	.current {
		background-color: #333;
		color: #FFF;
	}
}