.side-menu {

	&__links {
		ul {
			margin: 0;
		}
		ul,
		li {
			width: 100%;
			padding: 0;
			list-style: none;
		}
		a {
			color: inherit;
			display: block;
			padding: 10px 20px;
			text-decoration: none;

		}

		li.current_page_item,
		li:hover {
			a {
			}
		}
	}


}