.site-branding {
	text-align: center;
	padding: 3em 0;

	&__logo {

		height: auto;
		img {
			margin: auto;
			width: 150px;
			height: auto;
			display: block;
		}
	}

	&__title {
		font-size: 2em;
		margin: 0 auto 0.2em;

		a {
			color: inherit;
		}
	}

	&__description {
		margin-top: 0;
		margin-bottom: 0;
	}
}