.wpheader {
	//background: url("../images/cover.jpg") no-repeat center center / cover;
	//background-color: #CCC;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	&__title {
		font-size: 1.2em;
		margin: 1em auto;
	}

	&__navbar {
		display: flex;
		flex: 100% 1 0;
		justify-content: space-between;
		align-items: center;

	}

	&__drawer-button {
		white-space: nowrap;
		order: 20;
	}

}