.comment {
	&::before {
		display block
		content: '';
		border-top: 1px solid currentColor;
		opacity: 0.2;
	}

	& > & {
		margin-left: 16px;
	}

	&.depth-1 {
		margin: 16px 0;
		overflow: hidden
	}

	.says {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}


	.comment-body {
		margin: 16px 0;
		position relative;
		padding-left: 32px;
	}

	.comment-author {
		font-size: 0.9em
		.fn,
		.avatar {
			vertical-align: bottom;
		}
		.avatar {
			position: absolute;
			left: 0;
		}

	}

	.bypostauthor {

		.fn::after {
			content: "\f110";
			font-family "Dashicons";
			font-size: 0.9em;
			margin-inline-start: 0.1em;
			opacity: 0.6;
			vertical-align: middle;
		}
	}

	.comment-metadata {
		font-size: 0.8em;
	}

	.comment-content {
		*:first-child {
			margin-top: 0;
		}

		*:last-child {
			margin-bottom:0
		}
	}

	.reply {
		font-size: 0.8em;
	}

}