.entry-meta {
	font-size: 0.8em;
	&__item {

		//display: inline-block;
		margin-inline-end: 0.5em;
	}

	&__icon {
		opacity: 0.7;
		font-size: 1em;
		margin-inline-end: 0.1em;
		line-height: inherit;
	}
}