.entry {
	overflow hidden;
	gutter( padding-top );
	gutter( padding-bottom );

	&.has-post-thumbnail {
		padding-top: 0
	}

	&__featured-image {
		//background-color: #aaaaaa;
	}


	&__body {
		gutter( padding-left );
		gutter( padding-right );

	}

	&__posted-on {
		margin-top: 0;
		margin-bottom: 0
	}

	&__header {
		margin-bottom: 1em;
		gutter( margin-top );
	}

	&__title {
		border none;
		font-size: 1.5em;
		line-height: 1.6;
		margin: 0;
		padding 0
	}
}