.entry {
	overflow hidden;
	//gutter( margin-top );
	//gutter( margin-bottom );

	&__featured-image {
		//background-color: #aaaaaa;
	}

	&__body {
		gutter( padding );
	}

	&__header {
		margin: 0 0 1em;
	}

	&__title {
		font-size: 1.5em;
		line-height: 1.6;
		margin: 0;
	}
}