.entry {
	overflow hidden;
	gutter( padding-top );
	gutter( padding-bottom );

	&__featured-image {
		//background-color: #aaaaaa;
	}

	&__body {
		gutter( padding-left );
		gutter( padding-right );

	}

	&__posted-on {
		margin-top: 1em;
		margin-bottom: 0
	}

	&__header {
		margin: 0 0 1em;
	}

	&__title {
		font-size: 1.5em;
		line-height: 1.6;
		margin: 0;
	}
}