.navbar {
	display: flex;
	flex: 100% 1 0;
	justify-content: space-between;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;

	&__branding {
		//width: 48px;
		//padding: 8px;
		height: auto;
		img {
			display: block;
		}
	}

	&__logo {
		width: 48px;

	}

	//&__logo {
	//	max-width: 40%;
	//	order: 1;
	//	margin: 0;
	//	height: 30px;
	//	transition-duration: .2s;
	//	transition-timing-function: cubic-bezier(.4, 0, .2, 1);
	//	transition-property: height;
	//
	//	&--large {
	//		height: 45px;
	//	}
	//
	//	a {
	//		color: inherit;
	//	}
	//
	//	svg,
	//	img {
	//		width: auto;
	//		height: 100%;
	//		display: block;
	//
	//	}
	//}

	//.app-layout__header--compact & {
	//	&__logo {
	//		height: 30px;
	//		img {
	//
	//		}
	//	}
	//}

	&__drawer-button {
		white-space: nowrap;
		order: 20;
		padding: 8px;
		color: inherit;
		font-size: 1.6rem;
		border: none;
		font-weight: normal;

	}
}