.primary-menu {

	&__links {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid rgba(0,0,0,.1);
		> ul {
			margin: 0;
			padding: 0;
		}
		ul,
		li {
			//width: 100%;
			padding: 0;
			list-style: none;
		}
		a {
			color: inherit;
			display: block;
			padding: 1em;
			text-decoration: none;
			border-top: 1px solid rgba(0,0,0,.08);

		}

	//toggle button
		.dropdown-toggle {
			position absolute;
			border none
			top: 1px;
			right: 0;
			padding 1em;
			//transition: transform 0.2s ease-out 0s;
			cursor: pointer;
			//border-left: 1px solid rgba(0,0,0,0.1);

			&::before {
				opacity: 0.6;
				font-family: "dashicons";
				display block
				text-align: center
				line-height: 1.1666666667em;
				width  1.1666666667em;
				height  1.1666666667em;
				font-size: 1.5em;
				content: "\f140";
			}

			&::after {
				content: "";
				position absolute;
				left 0;
				top: 1em;
				border-left: 1px solid rgba(0,0,0,.16);
				height 1.75em;
			}

			&[aria-expanded="true"]::before {
				content: "\f142";
			}
		}

		li {



			position: relative;
			.sub-menu,
			.children {
				overflow: hidden;
				transition: height 0.2s ease-out 0s;

				li {
					padding-left: 1em;
				}

				a {
					//padding 0.5em;
				}

				&[aria-expanded="false"] {
					height: 0 !important;
					visibility: hidden;
				}

				&[aria-expanded="true"] {
					height: auto;
					overflow visible
					visibility: visible;
				}

			}
		}

		li.current_page_item,
		li:hover {
			a {
			}
		}
	}




}
