.search-form {
	//display flex;
	position relative

	width 100%;
	.search-field {
		width 100%;
		padding-right: 3em;
	}
	.search-submit {
		border-color transparent;
		position absolute;
		top: 0;
		right 0;
	}
}