.site-footer {
	overflow: hidden;
	position relative
	background-color: inherit
	box-shadow: 0 -1px 1px 0 rgba(128,128,128,0.12), 0 -2px 1px -1px rgba(128,128,128,0.2);
	&__body {
		gutter( padding-top );
	}

}