.site-branding {
	display: flex;
	align-items: center;

	&__logo {

		.custom-logo {
			display: block;
			max-width: 32px;
			@media $small-up {
				max-width: 32px;
			}
			@media $medium-up {
				max-width: 48px;
			}

		}
		margin-right: $gutter;
	}

	&__name {
		color: currentColor;
		flex-grow: 1;
		margin 0;
		font-weight:bold;
		text-align: left;
	}

}